/**
 * @name 	s-range
 * This file provide all the mixins to generate component classes
 */

/**
 * Print out the bare and style component css
 * @param 	{List<Color>} 		[$color=default primary secondary] 		The colors to generate
 */
@mixin s-range-classes(
	$colors : default primary secondary
) {
	@include s-range-classes-bare();
	@include s-range-classes-style(
		$colors : $colors
	);
}

/**
 * Print out the bare component css
 */
@mixin s-range-classes-bare() {

	$h : 1em;

	@include s-component('s-range') {

		.#{s-component()}-target {
			display: block;
			height: .5em;
			background: yellow;
			border: none;
			border-radius: .25em;
			box-shadow: none;
		}

		.#{s-component()}-handle {
			width: 1em !important; height: 1em !important;
			top: -.25em !important; left: auto !important;
			right: -.5em !important;
			background: red;
			border: none;
			outline: none;
			box-shadow: none;
			border-radius: 0;
			cursor: pointer;

			&:after,
			&:before {
				display:none;
			}

			.#{s-component()}-tooltip {
				opacity: 0;
				@include s-translate(-50%,20%);
				pointer-events: none;
				@include s-transition(fast);
			}
			&.#{s-component()}-active .#{s-component()}-tooltip,
			&:hover > .#{s-component()}-tooltip {
				opacity: 1;
				@include s-translate(-50%,0);
			}
		}

		.#{s-component()}-tooltip {
			border-radius: 0;
			border: none;
			color: s-color(text);
			background: none;
		}

		.#{s-component()}-connect {
			background: green;
		}

		.#{s-component()}-connects {
			border-radius: 0;
		}

	}
}

/**
 * Print out the style component css
 * @param 	{List<Color>} 		[$color=default primary secondary] 		The colors to generate
 */
@mixin s-range-classes-style(
	$colors : default primary secondary
) {

	// parse properties
	@if $_sugar-test-arguments {
		// $colors : s-test-argument('s-range-style','colors',map-keys(s-setting('colors')),$colors);
	}

	@include s-component('s-range') {

		.#{s-component()}-handle {
			border-radius: .5em;
			transition: transform .1s ease-in-out 0s;

			&:before,
			&:after {
				content:'';
				display:block;
				width:100%; height:100%;
				border-radius:50%;
				position:absolute;
				top: 0; left: 0;
				@include s-transition(fast);
			}

			&:hover,
			&.#{s-component()}-active {

				&:after {
					transform: scale(0.7,0.7);
				}
				&:before {
					transform: scale(3,3);
				}
			}
		}

		.#{s-component()}-tooltip {
			background: white;
			@include s-depth(2);
			border-radius: .2em;
		}

		.#{s-component()}-connects {
			border-radius: .25em;
		}

		@each $color in $colors {

			$sel : '[color="#{$color}"]';
			@if $color == default {
				$sel : '';
			}

			.#{s-component()}-target#{$sel} {
				background: s-color($color, -opacity .2);

				.#{s-component()}-connect {
					background: s-color($color);
				}
				.#{s-component()}-handle {
					background: rgba(0,0,0,0);

					&:after {
						background: s-color($color);
					}
					&:before {
						background: s-color($color, -opacity .2);
					}
				}
			}
		}
	}
}
